*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.body {
  font-family: 'Work Sans', sans-serif;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  background: #282c34;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  user-select: none;
  touch-action: none;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.chakra-alert {
  font-size: 16px;
}
