*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.body {
  font-family: 'Work Sans', sans-serif;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  background: #282c34;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  user-select: none;
  touch-action: none;
}

input[type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

input[type='file'],
input[type='file']::-webkit-file-upload-button {
  cursor: pointer;
}

.chakra-alert {
  font-size: 16px;
}
