$color-white: '#ffffff';
$color-dark-gray: '#2D3748';

html,
body {
  height: 100%;
  background: $color-dark-gray;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: calc(10px + 2vmin);
  color: $color-white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  user-select: none;
  touch-action: none;
}

input[type='file'] {
  &,
  &::-webkit-file-upload-button {
    cursor: pointer;
  }
}

// hide scrollbars but allow scrolling
* {
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}
